.carousel-inner-container {
    display: flex;
  }
  
  .carousel-slide {
    flex: 0 0 25%;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  p.ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: small;
  }